<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auslagenerstattung</title>
</head>
<body>
<h4>1. Anleitung</h4>
<hr>
<ol>
    <li>Email Vorlage kopieren und ausfüllen.</li>
    <li>Betreff kopieren</li>
    <li>Belege in guter Qualität einscannen (verwackelte Handyfotos gehen leider nicht), als PDF-Datei anhängen und
        Dateinamen eintragen.
    </li>
    <li>Alle Angaben nochmals auf Korrektheit prüfen.</li>
    <li>Email an miasantum@gmail.com senden.</li>
</ol>
<br>
<br>
<h4>2. Email-Vorlage zur Auslagenerstattung</h4>
<p style="color:red"><b>[Posten bitte einzeln aufführen]</b><br>
    <b>[Belege bitte als PDF Datei anhängen]</b></p>
<hr>
<p><b>Betreff: Auslagenerstattung</b></p>
<p>Liebes Studylife-München-Team,</p>
<p>
    für das Projekt bzw. die Veranstaltung
    <b>[Champions Trophy vom 10.05.2018 bis 13.05.2018, Gemeinsames Basteln von Fanartikeln am DD.MM.YYYY, ...]</b>
    habe ich für den Studylife München e.V. folgende Auslagen getätigt:
</p>
<p>
    - <b>[Beschreibung des Artikel (Name der angehängten Datei), Bruttopreis]</b><br>
    - <b>[z.B. 4 Kästen Mineralwasser (Anhang_1.pdf), 34,55€] </b><br>
    - ...
</p>
<p>Die Summe der Ausgaben beträgt <b>[XX.XX €]</b>.</p>
<p>Ich bitte um Erstattung auf folgendes Konto:<br>
    Kontoinhaber: <b>[Vorname Nachname]</b><br>
    IBAN: <b>[Deine IBAN]</b><br>
    BIC: <b>[Deine BIC]</b><br>
</p>
<p>
    Vielen Dank und beste Grüße,<br>
    <b>[Vorname Nachname]<b>
</p>
</body>
</html>
